.container {
  display: flex;
  flex-direction: column;

  gap: 50px;

  height: 100vh;
  width: 100%;
}

.title {
  margin-left: 40px;
  margin-top: 0;
  padding-top: 25px;
  color: #1b263b;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 100px;

  height: 500px;

  justify-content: center;
  align-items: center;
  vertical-align: middle;

  background-color: white;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 25px;

  justify-content: center;
  align-items: center;
}
