<div
  class="form d-flex flex-column justify-content-center align-items-center gap-3 py-4 px-5"
>
  <div class="mb-3 text-center">
    <h4>Добро пожаловать</h4>
    <span class="text-muted"
      >Чтобы завершить регистрацию, заполните поля ниже</span
    >
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <app-auth-input title="Имя" placeholder="Введите имя" name="name" />
    </div>
    <div class="col">
      <app-auth-input
        title="Фамилия"
        placeholder="Введите фамилию"
        name="surname"
      />
    </div>
    <div class="col">
      <app-auth-select
        title="Роль"
        name="role"
        placeholder="Выберите роль"
        [options]="[
          {
            title: 'Сотрудник',
            value: 'employee',
          },
          {
            title: 'Аналитик',
            value: 'analytics',
          },
          {
            title: 'Модератор',
            value: 'moderator',
          },
        ]"
      ></app-auth-select>
    </div>
    <div class="col">
      <app-auth-input
        title="Почта"
        placeholder="Введите почту"
        type="email"
        name="email"
      />
    </div>
    <div class="col">
      <app-auth-select
        title="Регион"
        name="region"
        placeholder="Выберите регион"
        [options]="[
          {
            title: 'Алматы',
            value: 'Almaty',
          },
          {
            title: 'Астана',
            value: 'Astana',
          },
          {
            title: 'Шымкент',
            value: 'Shymkent',
          },
        ]"
      ></app-auth-select>
    </div>
    <div class="col">
      <app-auth-radio
        title="Пол"
        name="sex"
        [buttons]="[
          { title: 'Мужской', value: 'male' },
          { title: 'Женский', value: 'female' },
        ]"
      ></app-auth-radio>
    </div>
    <div class="col">
      <app-auth-input
        title="Пароль"
        placeholder="Пароль"
        type="password"
        name="password"
      />
    </div>
    <div class="col">
      <app-auth-input
        title="Повторите пароль"
        placeholder="Повторите пароль"
        type="password"
        name="repeat-password"
      />
    </div>
  </div>

  <div class="mt-4">
    <app-auth-button title="Войти" />
  </div>

  <div class="d-flex flex-row gap-3 mt-4">
    <a [routerLink]="['/auth/sign-in']" class="text-black fs-6"
      >Уже есть аккаунт?</a
    >
  </div>
</div>
