.container {
  width: 100%;

  padding-left: 40px;
  padding-bottom: 60px;
  box-sizing: border-box;

  background-color: white;
}

.title {
  margin: 0;
  padding-top: 25px;
  color: #1b263b;
}

.sectionsContainer {
  padding-left: 90px;
  padding-right: 90px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 30px;

  padding-left: 150px;
  padding-right: 150px;
}
