.label {
  margin-left: 10px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.textarea {
  border: solid;
  border-width: 1px;
  border-radius: 5px;

  min-height: 50px;

  max-width: calc(100% - 20px);
  max-height: none;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;

  font-family: 'Rubik';

  border-color: #1b263b;
}
