<div class="py-3 px-5 vh-100 overflow-auto">
  <div class="mb-5">
    <h2>Профиль</h2>
  </div>
  <div class="d-flex flex-row gap-5">
    <div class="d-flex flex-column gap-5">
      <img src="assets/icons/shared/profile-placeholder.svg" alt="Профиль" />
      <button class="border-0 py-1 rounded">Сменить фото</button>
    </div>
    <div class="d-flex flex-column gap-3">
      <app-studio-input
        title="Имя"
        placeholder="Введите имя"
        [value]="form.get('name')?.value"
      ></app-studio-input>
      <app-studio-input
        title="Фамилия"
        placeholder="Введите фамилию"
        [value]="form.get('surname')?.value"
      ></app-studio-input>
      <app-studio-input
        title="Почта"
        placeholder="Введите почту"
        [value]="form.get('email')?.value"
      ></app-studio-input>
    </div>
    <div class="d-flex flex-column gap-3">
      <app-studio-select
        title="Регион"
        [options]="['Алматы', 'Астана', 'Шымкент']"
        [value]="form.get('region')?.value"
      ></app-studio-select>
      <app-studio-input
        title="Роль"
        placeholder="Введите почту"
        [value]="form.get('role')?.value"
      ></app-studio-input>
      @if (role === 'employee') {
        <app-studio-input
          title="ИИН"
          placeholder="Введите ИИН"
          [value]="form.get('iin')?.value"
        ></app-studio-input>
        <app-studio-input
          title="Рабочее Место"
          placeholder="Введите рабочее место"
          [value]="form.get('workplace')?.value"
        ></app-studio-input>
      }
    </div>
  </div>
</div>
