<div
  class="form d-flex flex-column justify-content-center align-items-center gap-3 py-4 px-5"
>
  <div class="mb-3 text-center">
    <h4>Пройдите верификацию</h4>
    <span class="text-muted">Вам должен был придти код для подтверждение</span>
  </div>
  <form
    class="d-flex flex-column justify-content-center align-items-center gap-4"
    [formGroup]="form"
    (submit)="onSubmit(form)"
  >
    <app-auth-input
      class="text-center"
      [title]="'Проверочный код'"
      [name]="'code'"
      (contains)="onInput($event)"
      [placeholder]="'X-x-X-x-X-x'"
      [max]="6"
      [min]="6"
    />
    <app-auth-button title="Подтвердить" type="submit" />
  </form>
</div>
