<div
  class="form d-flex flex-column justify-content-center align-items-center gap-3 py-4"
>
  <div class="mb-3">
    <h4>Войти</h4>
  </div>

  <form [formGroup]="form" (submit)="onSubmit(form)">
    <div class="d-flex flex-column gap-3">
      <app-auth-input
        [title]="'Почта'"
        [type]="'email'"
        [placeholder]="'Введите почту'"
        [notes]="notes.email"
        [name]="'email'"
        [required]="true"
        [value]="this.form.get('email')?.value ?? ''"
        (contains)="this.onInput($event)"
      />
      <app-auth-input
        [title]="'Пароль'"
        [type]="'password'"
        [placeholder]="'Введите пароль'"
        [notes]="notes.password"
        [name]="'password'"
        [required]="true"
        [value]="this.form.get('password')?.value ?? ''"
        (contains)="this.onInput($event)"
      />
      <div class="d-flex justify-content-center mt-4">
        <app-auth-button title="Войти" type="submit" />
      </div>
    </div>
  </form>

  <div class="d-flex flex-row gap-3 mt-4">
    <a [routerLink]="['/auth/sign-up']" class="text-black fs-6"
      >Забыли пароль</a
    >
    <span class="fs-6">|</span>
    <a [routerLink]="['/auth/sign-up']" class="text-black fs-6">Регистрация</a>
  </div>
</div>
