.formContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 350px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: black;
}

.subtitle {
  text-align: center;
  color: #555555;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
