@import './styles/colors.scss';

* {
  margin: 0;
  padding: 0;
}

.bg-deep-blue {
  background-color: $deep-blue;
}

.bg-light-white {
  background-color: $light-white;
}

.bg-orange {
  background-color: $orange;
}

.bg-orange:hover {
  background-color: $light-orange;
}

.fs-s {
  font-size: 0.8rem;
}

.fs-xs {
  font-size: 0.65rem;
}
