<div class="py-3 px-5 vh-100 overflow-auto">
  <div class="mb-5">
    <h2>Создание заключения</h2>
  </div>
  <div class="d-flex flex-column gap-4">
    <form
      [formGroup]="form"
      class="d-flex flex-column gap-4"
      (submit)="onSubmit(form)"
    >
      @for (section of template.sections; track $index) {
        <app-studio-section title="{{ section.title }}">
          @for (input of section.inputs; track $index) {
            @switch (input.type) {
              @case ('text') {
                <app-studio-input
                  title="{{ input.title }}"
                  value="{{
                    input.name ? (this.form.get(input.name)?.value ?? '') : ''
                  }}"
                  placeholder="{{
                    input.placeholder
                      ? input.placeholder
                      : ['Введите', input.title.toLocaleLowerCase()].join(' ')
                  }}"
                  name="{{ input.name }}"
                  (contains)="this.onInput($event)"
                ></app-studio-input>
              }
              @case ('date') {
                <app-studio-input
                  title="{{ input.title }}"
                  value="{{
                    input.name ? (this.form.get(input.name)?.value ?? '') : ''
                  }}"
                  type="date"
                  name="{{ input.name }}"
                  (contains)="this.onInput($event)"
                ></app-studio-input>
              }
              @case ('text-area') {
                <app-studio-textarea
                  [title]="input.title"
                  value="{{
                    input.name ? (this.form.get(input.name)?.value ?? '') : ''
                  }}"
                  (contains)="this.onInput($event)"
                  [placeholder]="
                    input.placeholder
                      ? input.placeholder
                      : ['Введите', input.title.toLocaleLowerCase()].join(' ')
                  "
                ></app-studio-textarea>
              }
              @case ('select') {
                <app-studio-select
                  [title]="input.title"
                  [options]="input.options"
                  (contains)="this.onInput($event)"
                ></app-studio-select>
              }
              @case ('datetime') {
                <app-studio-input
                  title="{{ input.title }}"
                  type="datetime-local"
                  (contains)="this.onInput($event)"
                  value="{{
                    input.name ? (this.form.get(input.name)?.value ?? '') : ''
                  }}"
                ></app-studio-input>
              }
            }
          }
        </app-studio-section>
      }
      <div class="d-flex justify-content-center">
        <app-auth-button title="Создать" type="submit" />
      </div>
    </form>
  </div>
</div>
